# PySpark基础练习
Spark是一个流行的分布式计算框架，不仅提供了scala/java/python/R的编程接口支持，还可以支持基于SQL的开发。 如果运行于hadoop之上，它可以有效利用hadoop分布式存储和资源调度的能力，从而实现上PB级别数据的高效处理和分析。

在这个练习中，我们将尝试编写一个基本的PySpark程序。

请编写PySpark程序实现student_stat.py中的函数，以实现：

1 读取文件student.csv得到一个DataFrame对象

2 增加一列grade，当： score > 90时，grade值为well; 80 < score <= 90时，grade值为less well; score <= 80时，grade值为not well;

3 统计各个grade的人数

4 运行student_stat_test.py中的测试并视情况修改代码使测试可以通过。

In [ ]:
class GradeStat:

    def __init__(self, well_count, less_well_count, not_good_count):
        self.well_count = well_count
        self.less_well_count = less_well_count
        self.not_good_count = not_good_count
    
    def grade_level(score):
        if score > 90:
            return 'well'
        elif score > 80:
            return 'less well'
        else:
            return 'not well'
    
    def grade_count():
        stat = pd.read_csv('student.csv')
        stat['grade'] = stat.score.apply(grade_level )
        y = stat.groupby(['grade']).agg({'name':'count'})
        return y
        
if __name__ == '__main__':
    GradeStat.main()

In [2]:
import pandas as pd
stat = pd.read_csv('student.csv')
stat.head(1)

  name  age gender class  score
0   张三   18      男  高三三班     98

In [13]:
def grade_level(score):
    if score > 90:
        return 'well'
    elif score > 80:
        return 'less well'
    else:
        return 'not well'
stat['grade'] = stat.score.apply(grade_level )    
stat.head(1)

  name  age gender class  score grade
0   张三   18      男  高三三班     98  well

In [14]:
stat.groupby(['grade']).agg({'name':'count'})

           name
grade
less well    40
not well     40
well         39